<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="./css/todo.css">
	</head>
	{% block header %}

		<header>
			<h2>TEAM-JESS</h2>
			<h1>Welcome to TODO App</h1>
		</header>

	{% endblock header %}

	{% block content %}{% endblock %}

	{% block footer %}
		<footer>
			<h4>&copy; Team JESS, 2023</h4>
		</footer>


	{% endblock footer %}


</html>
